*{
    background-color: #18171F;
    font-size:18px;
    font-family:"Space Mono", serif;
}


.title{
    width:430px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 5rem;
    font-size: 48px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container{
    width: 30rem;
    min-height:30rem;
    background-color: #24232C;
    border-radius: 2%;
    margin-left:auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 2rem;
    padding:2cqb;
}

.todo, input{
    background-color: #24232C;
}

input{
    width:80%;
    background-color: aliceblue;
}

.addedText{
    
}

.todo{
    background-color: #24232C;
    display: flex;
    justify-content: center;
    padding-top: 2rem;

}

.add{
    width:45px;
    height:45px;
    
}

.item{
    width:430px;
    height:45px;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

.reset{
    font-size: 30px;
    width:90%;
    height:45px;
    display: flex;
    background-color: #A4FFAF;
    justify-content: center;
    align-items: center;
    margin-left:1rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1.5rem;
    margin-left:1.5rem;
}
.reset:hover{
    color:#A4FFAF;
    background-color:#24232C;
}
.remove:hover{
    background-color: #24232C;
    color:#A4FFAF;
    cursor:pointer;
}

.add:hover{
    background-color: #A4FFAF;
    color:#A4FFAF;
    cursor:pointer;
}

.removeRed {
    background-color: #24232C;
}

.removeRed:hover {
    background-color: #ec0000;
}